<!doctype html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>online</title>
  <style>
    body {
      text-align: center;
    }

    a {
      display: block;
      margin: 10px 0;
    }
  </style>
  <script src="pdf_view/build/pdf.js"></script>
  <script src="pdf_view/web/viewer.js"></script>
  <link rel="stylesheet" href="pdf_view/web/viewer.css">
</head>

<body>
  <%_ list.forEach((item)=>{ -%>
    <%_ if (item.fileType==='pdf' ) { -%>
      <a href="<%= item.url %>" target="_blank">
        <%= item.txt %>
      </a>
      <%_ } else { -%>
        <a href="<%= 'output/' + item.name %>" target="_blank">
          <%= item.txt %>
        </a>
        <%_ } -%>
          <%_ }) -%>
</body>

</html>